# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/

# Virtual environments
.venv/
venv/

# Jupyter / Streamlit
.ipynb_checkpoints/
.streamlit/

# Env files
.env

# OS
.DS_Store

